.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  min-height: 250px;
}

.img img {
  min-height: 100px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description {
  font-family: "ITC";
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.5em;
}

.description span {
  color: var(--yellow);
  letter-spacing: 2px;
}

.tech {
  display: flex;
  flex-direction: column;
}

.tech span:nth-child(2) {
  font-size: 14px;
  color: lightgrey;
}

.openHere {
  display: none;
}

@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }

  .description {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 50%;
  }

  .description span {
    font-size: 30px;
  }

  .tech span:nth-child(2) {
    font-size: 18px;
  }
}
